<div th:fragment="for-blog">
<div class="container px-4 py-5" id="featured-3">
  <h2 class="pb-2 border-bottom">Почему Biker Energy?</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <div class="feature-icon bg-primary bg-gradient">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
      </div>
      <h2>Широчайший ассортимент</h2>
      <p><big>Качественные велосипеды от производителя. Самые популярные модели! Аксессуары, запчасти и инструменты в ПОДАРОК!</big></p>
          </div>
    <div class="feature col">
      <div class="feature-icon bg-primary bg-gradient">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
      </div>
      <h2>Низкие цены</h2>
      <p><big>Наши цены не превышают цены конкурентов. Никаких переплат за качество!</big></p>
          </div>
    <div class="feature col">
      <div class="feature-icon bg-primary bg-gradient">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
      </div>
      <h2>Быстрая и надежная доставка</h2>
      <p><big>Доставляем быстро по Альметьевску. При доставке по России, работаем со СДЭК</big></p>
          </div>
  </div>
</div>
</div>